# Introdução à Ciência de Dados - UFPB
Professor: Yuri Malheiros

## Pandas

A partir do dataset `movies.csv` utilize o Pandas para responder as seguintes perguntas:

In [7]:
import pandas as pd

file = pd.read_csv("movies.csv")

file.columns

Index(['Title', 'US Gross', 'Worldwide Gross', 'US DVD Sales',
       'Production Budget', 'Release Date', 'MPAA Rating',
       'Running Time (min)', 'Distributor', 'Source', 'Major Genre',
       'Creative Type', 'Director', 'Rotten Tomatoes Rating', 'IMDB Rating',
       'IMDB Votes'],
      dtype='object')

### Qual o gênero de filme mais lucrativo em todo o mundo?

In [33]:
GenreMostLucrative = file.groupby("Major Genre").sum()["Worldwide Gross"]

GenreMostLucrative.sort_values(ascending = False)

Major Genre
Adventure              6.608096e+10
Action                 6.043561e+10
Comedy                 5.038405e+10
Drama                  4.047617e+10
Thriller/Suspense      1.926069e+10
Horror                 1.332168e+10
Romantic Comedy        1.186665e+10
Musical                3.904838e+09
Western                1.301373e+09
Black Comedy           8.246719e+08
Documentary            6.989444e+08
Concert/Performance    1.536220e+08
Name: Worldwide Gross, dtype: float64

### O gênero de filme mais lucrativo em todo o mundo é Aventura, com mais de 66 bilhões de dólares arrecadados.

### Qual o diretor dirigiu mais filmes?

In [46]:
file.groupby("Director").size().sort_values(ascending = False)[0:10]

Director
Steven Spielberg        23
Woody Allen             16
Martin Scorsese         15
Spike Lee               15
Ridley Scott            14
Brian De Palma          13
Francis Ford Coppola    13
Steven Soderbergh       12
Richard Donner          12
Robert Zemeckis         12
dtype: int64

### O diretor que dirigiu mais filmes é Steven Spielberg com um total de 23 filmes dirigidos.

### Quais filmes tiverem os maiores arrecadações (Gross) em relação ao orçamento de produção (Budget)?

In [58]:
file["Profit"] = file['Worldwide Gross'] - file['Production Budget']

file[['Title','Profit']].sort_values(by = "Profit",ascending = False).set_index("Title")[0:10]

                                                     Profit
Title
Avatar                                         2.530891e+09
Titanic                                        1.642880e+09
The Lord of the Rings: The Return of the King  1.039027e+09
Jurassic Park                                  8.600679e+08
Harry Potter and the Sorcerer's Stone          8.514579e+08
Shrek 2                                        8.498388e+08
Toy Story 3                                    8.463407e+08
Pirates of the Caribbean: Dead Man's Chest     8.406598e+08
The Dark Knight                                8.373454e+08
The Lord of the Rings: The Two Towers          8.322844e+08

### O filme com maior lucro é Avatar com mais de 2,5 bilhões de dólares de lucro.