In [34]:
import pandas as pd

df = pd.read_csv("../Tarefa - Numpy e Pandas/movies.csv")

df.head()

,Title,US Gross,Worldwide Gross,US DVD Sales,Production Budget,Release Date,MPAA Rating,Running Time (min),Distributor,Source,Major Genre,Creative Type,Director,Rotten Tomatoes Rating,IMDB Rating,IMDB Votes
0,The Land Girls,146083.0,146083.0,NaN,8000000.0,12-Jun-98,R,NaN,Gramercy,NaN,NaN,NaN,NaN,NaN,6.1,1071.0
1,"First Love, Last Rites",10876.0,10876.0,NaN,300000.0,7-Aug-98,R,NaN,Strand,NaN,Drama,NaN,NaN,NaN,6.9,207.0
2,I Married a Strange Person,203134.0,203134.0,NaN,250000.0,28-Aug-98,NaN,NaN,Lionsgate,NaN,Comedy,NaN,NaN,NaN,6.8,865.0
3,Let's Talk About Sex,373615.0,373615.0,NaN,300000.0,11-Sep-98,NaN,NaN,Fine Line,NaN,Comedy,NaN,NaN,13.0,NaN,NaN
4,Slam,1009819.0,1087521.0,NaN,1000000.0,9-Oct-98,R,NaN,Trimark,Original Screenplay,Drama,Contemporary Fiction,NaN,62.0,3.4,165.0

In [35]:
df[["Worldwide Gross","IMDB Votes"]].corr()

                 Worldwide Gross  IMDB Votes
Worldwide Gross         1.000000    0.551564
IMDB Votes              0.551564    1.000000

In [36]:
df[["Worldwide Gross","IMDB Rating"]].corr()

                 Worldwide Gross  IMDB Rating
Worldwide Gross         1.000000     0.197521
IMDB Rating             0.197521     1.000000

In [39]:
df[["US Gross","IMDB Votes"]].corr()

            US Gross  IMDB Votes
US Gross    1.000000    0.552514
IMDB Votes  0.552514    1.000000

In [38]:
df[["US Gross","IMDB Rating"]].corr()

             US Gross  IMDB Rating
US Gross     1.000000     0.197037
IMDB Rating  0.197037     1.000000

In [32]:
df = df[["Title","IMDB Rating","IMDB Votes"]]

df.head()

                        Title  IMDB Rating  IMDB Votes
0              The Land Girls          6.1      1071.0
1      First Love, Last Rites          6.9       207.0
2  I Married a Strange Person          6.8       865.0
3        Let's Talk About Sex          NaN         NaN
4                        Slam          3.4       165.0

In [8]:
df["Score de Popularidade"] = (df['IMDB Votes'] * df['IMDB Rating'])/df['IMDB Votes'].mean()

In [20]:
df = df.dropna()
df = df.sort_values(by="Score de Popularidade", ascending = False)
df[0:40]

,Title,IMDB Rating,IMDB Votes,Score de Popularidade
841,The Shawshank Redemption,9.2,519541.0,159.812565
1266,The Dark Knight,8.9,465000.0,138.371366
369,The Godfather,9.2,411088.0,126.452056
741,Pulp Fiction,8.9,417703.0,124.297064
2203,The Lord of the Rings: The Fellowship of the Ring,8.8,387438.0,113.995617
1747,Fight Club,8.8,382470.0,112.533886
2259,The Matrix,8.7,380934.0,110.808291
2202,The Lord of the Rings: The Return of the King,8.8,364077.0,107.122126
2201,The Lord of the Rings: The Two Towers,8.7,326950.0,95.105112
340,Forrest Gump,8.6,300455.0,86.393517
1159,American Beauty,8.6,292562.0,84.123946
816,Schindler's List,8.9,276283.0,82.214314
808,Se7en,8.7,278918.0,81.133286
2291,Memento,8.7,274524.0,79.855133
859,The Usual Suspects,8.7,266890.0,77.634511
1833,Gladiator,8.3,279512.0,77.567861
2893,Saving Private Ryan,8.5,270540.0,76.887135
1264,Batman Begins,8.3,270641.0,75.106055
1616,The Departed,8.5,264148.0,75.070537
366,The Godfather: Part II,9.0,245271.0,73.806053
1234,Avatar,8.3,261439.0,72.552392
845,The Silence of the Lambs,8.7,244856.0,71.225133
2755,Sin City,8.3,255814.0,70.991388
767,Raiders of the Lost Ark,8.7,242661.0,70.586639
136,Braveheart,8.4,240642.0,67.585570
971,Terminator 2: Judgment Day,8.5,237477.0,67.490671
368,Goodfellas,8.8,229156.0,67.424413
2757,The Sixth Sense,8.2,238745.0,65.456293
1164,American History X,8.6,224857.0,64.655896
675,One Flew Over the Cuckoo's Nest,8.9,214457.0,63.816576
2117,Kill Bill: Volume 1,8.2,231761.0,63.541502
1698,Eternal Sunshine of the Spotless Mind,8.5,219986.0,62.519751
2506,Pirates of the Caribbean: The Curse of the Bla...,8.0,232719.0,62.247956
3072,V for Vendetta,8.2,224636.0,61.588053
1090,300,7.8,235508.0,61.419112
766,Reservoir Dogs,8.4,212985.0,59.817956
2970,Titanic,7.4,240732.0,59.561937
1548,Donnie Darko,8.3,210713.0,58.475331
2566,The Prestige,8.4,207322.0,58.227473
729,LÃˆon,8.6,199762.0,57.440022

In [21]:
df.sort_values(by = "IMDB Rating", ascending = False)[0:40]

,Title,IMDB Rating,IMDB Votes,Score de Popularidade
841,The Shawshank Redemption,9.2,519541.0,159.812565
369,The Godfather,9.2,411088.0,126.452056
2025,Inception,9.1,188247.0,57.276006
366,The Godfather: Part II,9.0,245271.0,73.806053
741,Pulp Fiction,8.9,417703.0,124.297064
19,12 Angry Men,8.9,119101.0,35.441222
2987,Toy Story 3,8.9,67380.0,20.050457
1266,The Dark Knight,8.9,465000.0,138.371366
816,Schindler's List,8.9,276283.0,82.214314
675,One Flew Over the Cuckoo's Nest,8.9,214457.0,63.816576
223,C'era una volta il West,8.8,74184.0,21.827107
1528,Cidade de Deus,8.8,166897.0,49.105990
918,Shichinin no samurai,8.8,96698.0,28.451386
368,Goodfellas,8.8,229156.0,67.424413
213,Casablanca,8.8,167939.0,49.412577
1747,Fight Club,8.8,382470.0,112.533886
2202,The Lord of the Rings: The Return of the King,8.8,364077.0,107.122126
2203,The Lord of the Rings: The Fellowship of the Ring,8.8,387438.0,113.995617
2291,Memento,8.7,274524.0,79.855133
2201,The Lord of the Rings: The Two Towers,8.7,326950.0,95.105112
2985,The Town,8.7,493.0,0.143407
2259,The Matrix,8.7,380934.0,110.808291
808,Se7en,8.7,278918.0,81.133286
453,It's a Wonderful Life,8.7,101499.0,29.524618
767,Raiders of the Lost Ark,8.7,242661.0,70.586639
845,The Silence of the Lambs,8.7,244856.0,71.225133
859,The Usual Suspects,8.7,266890.0,77.634511
340,Forrest Gump,8.6,300455.0,86.393517
990,Taxi Driver,8.6,155774.0,44.791612
729,LÃˆon,8.6,199762.0,57.440022
1164,American History X,8.6,224857.0,64.655896
567,Lawrence of Arabia,8.6,79421.0,22.836896
61,Apocalypse Now,8.6,173141.0,49.785359
1159,American Beauty,8.6,292562.0,84.123946
578,M*A*S*H,8.6,8043.0,2.312703
591,Modern Times,8.5,35773.0,10.166643
2654,Requiem for a Dream,8.5,185226.0,52.641001
971,Terminator 2: Judgment Day,8.5,237477.0,67.490671
1163,Le Fabuleux destin d'AmÃˆlie Poulain,8.5,181085.0,51.464134
1143,Alien,8.5,180387.0,51.265764